<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style.css">
    <title>Home Page</title>
</head>
<body>
    <div id="ContainerMain">

        <div id="cardMain">
        
            <div class="cardMainTitulo">

                <div class="iconeUsuarios">
                    <div class="balao">Olá, Seja Bem Vindo !!!</div>
                    <p><img src="../static/Img/Silvio-removebg-preview.png" alt="" ><span id="nomeIcone">Silvio</span></p>
                </div>

                <div class="iconeUsuarios">
                    <div class="balao"><div id="escolhas"><button class="Amarelo">Pular</button> <button class="Vermelho">Parar</button> <button class="Verde">Ajuda</button></div></div>
                    <p><img src="../static/Img/Silvio-removebg-preview.png" alt="" ><span id="nomeIcone">Usuário</span></p>
                </div>

                <div class="tempo finalTempo"><div id="cronometro"></div></div>
           
            </div>
        
            <div class="cardMainPergunta">
                <div class="logoMilhao">
                    <img src="../static/Img/logoShowDoMilhao.png" alt="">
                </div>
                <p class= pergunta>Qual é o nome do processo pelo qual as plantas convertem a luz solar em energia?</p>
                
                <div class="cardMainRespostas">
                    <div class="opcResposta"><a href="#"><span class="num_resposta">1</span>Resposta1</a></div>
                    <div class="opcResposta"><a href="#"><span class="num_resposta">2</span>Resposta2</a></div>
                    <div class="opcResposta"><a href="#"><span class="num_resposta">3</span>Resposta3</a></div>
                    <div class="opcResposta"><a href="#"><span class="num_resposta">4</span>Resposta4</a></div>
                </div>

                <div class="cardDeGanhosEPerdas">
                
                    <div class="cardValor">
                       <p><img  class="iconeValor" src="../static/Img/saco de dinheiro e pilha de moedas de ouro.jfif" alt="">R$ 1 000 000</p> 
                        <span>Errar</span>
                    </div>
                    
                    <div class="cardValor">
                        <p><img  class="iconeValor" src="../static/Img/saco de dinheiro e pilha de moedas de ouro.jfif" alt="">R$ 1 000 000</p> 
                         <span>Parar</span>
                     </div>
                    
                     <div class="cardValor">
                        <p><img  class="iconeValor" src="../static/Img/saco de dinheiro e pilha de moedas de ouro.jfif" alt="">R$ 1 000 000</p> 
                         <span>Acertar</span>
                     </div>
               
                </div>

            </div>
            
        </div>
    </div>
    <script src="../static/JavaScript/script.js"></script>
</body>
</html>