<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style.css">
    <title>Estatísticas</title>
</head>
<body>
    <div class="containerEstatistico">
        <main class="tabela">
            <section class="tabelaTopo">
                <h1>Dados Estatísticos</h1>
            </section>
            <section class="tabelaCorpo">
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Data</th>
                            <th>Número De Partidas Disputadas</th>
                            <th>Quantidade De Rounds Vencidos</th>
                            <th>Prêmio Max Ganho</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Glauber</td>
                            <td>17 Dec, 2022</td>
                            <td>
                                <p>Venceu 1</p>
                            </td>
                            <td>R$ 129.80</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>
</html>