<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pós Jogo - Show Do Milhão</title>
</head>
<body>
    <div id="ContainerMain">

        <div id="cardMain">
        
            <div class="cardMainTitulo">

                <div class="iconeUsuarios">
                    <div class="balao">Olá, Seja Bem Vindo !!!</div>
                    <p><img src="../static/Img/Silvio-removebg-preview.png" alt="" ><span id="nomeIcone">Silvio</span></p>
                </div>

                <div class="iconeUsuarios">
                    <div class="balao"><div id="escolhas"><button class="Amarelo">Pular</button> <button class="Vermelho">Parar</button> <button class="Verde">Ajuda</button></div></div>
                    <p><img src="../static/Img/Silvio-removebg-preview.png" alt="" ><span id="nomeIcone">Usuário</span></p>
                </div>

                <div class="tempo finalTempo"><div id="cronometro"></div></div>
           
            </div>
        
            <div class="cardMainPergunta">
                <div class="logoMilhao">
                    <img src="../static/Img/logoShowDoMilhao.png" alt="">
                </div>
                <p class= pergunta>{{pergunta[1]}}</p>
                
                <div class="cardMainRespostas">
                    <form action="/homePage/{{ id_partida }}" method="POST">
                    {% for alternativa in alternativas %}
                    <div class="opcResposta">
                        <button type="submit" name="resposta" value="{{ alternativa.id }}">
                            <span class="num_resposta">{{alternativa.numero}}</span>{{ alternativa.texto }}
                        </button>
                    </div>
                    {% endfor %}
                    </form>
                </div>

                <div class="cardDeGanhosEPerdas">
                
                    <div class="cardValor">
                       <p><img  class="iconeValor" src="../static/Img/saco de dinheiro e pilha de moedas de ouro.jfif" alt="">R$ 1 000 000</p> 
                        <span>Errar</span>
                    </div>
                    
                    <div class="cardValor">
                        <p><img  class="iconeValor" src="../static/Img/saco de dinheiro e pilha de moedas de ouro.jfif" alt="">R$ 1 000 000</p> 
                         <span>Parar</span>
                     </div>
                    
                     <div class="cardValor">
                        <p><img  class="iconeValor" src="../static/Img/saco de dinheiro e pilha de moedas de ouro.jfif" alt="">R$ 1 000 000</p> 
                         <span>Acertar</span>
                     </div>
               
                </div>

            </div>
            
        </div>
    </div>
</body>
</html>